@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700&subset=latin,cyrillic-ext);

.container {
  width: 90%;
}
.slider .indicators .indicator-item.active {
  background-color: #ff9100;
  }
  
.slider .indicators .indicator-item {
  background-color: #666666;
  border: 1px solid #ffffff;
  }

.background {
    border: 2px solid black;
}

.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier or old Firefox*/
}

.transbox p {
    margin: 2%;
    font-weight: bold;
    color: #000000;
}

.imgContainer{
    float:left;
}

body {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: table;
  border-collapse: collapse;
  width: 100%;
}
li {
  display: table-cell;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
