@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700&subset=latin,cyrillic-ext);
/*html {
	background-color: #fff;
	font-family: 'Roboto Slab', serif;
	sx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	color: #1a1a1a;
}
html, body {
	height: 100%;
	padding: 0px;
	margin: 0px;
}*/

.container {
  width: 90%;
}
.slider .indicators .indicator-item.active {
  background-color: #ff9100;
  }
  
.slider .indicators .indicator-item {
  background-color: #666666;
  border: 1px solid #ffffff;
  }

.background {
    border: 2px solid black;
}

.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier or old Firefox*/
}

.transbox p {
    margin: 2%;
    font-weight: bold;
    color: #000000;
}

img {
   width: auto;
   max-height: 100%;
}

.imgContainer{
    float:left;
}

#divCenter {
  margin:0px auto;
  width:95%; 
  height:auto;
  border:2px solid black;
  /*padding:10px;*/
 
 }

 #divIDOne {
     margin-right: 0px;
     border:1px solid black;
 }

 #divIDTwo {
   margin-left: 20px;
   border:1px solid black;
 }